{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>

<p><strong>Address</strong></p>
<p>{{ doc.address }}</p>

<p><strong>Phone</strong></p>
<p>{{ doc.contact_number }}</p>

{% set doctor = frappe.get_doc("Doctor", doc.doctor) %}
<p><strong>Doctor</strong> <span id="status-badge" class="badge badge-{{'success' if doc.doctor_in else 'secondary'}}">{{ 'IN' if doc.doctor_in else 'OUT'}}</span></p>
<p>{{ doctor.full_name }}, {{ doctor.speciality }}</p>


<p><strong>Timings</strong></p>

{% set shifts = frappe.get_list("Schedule Shift", filters={"clinic": doc.name}, fields=["title"]) %}

<ul>
    {% for shift in shifts %}
    <li>{{ shift.title }}</li>
    {% endfor %}
</ul>

<a href="/book-appointment/new?clinic={{doc.name}}" class="btn btn-primary">Book Appointment</a>
{% endblock %}

{% block script %}
<script>
    frappe.ready(() => {
        frappe.realtime.on("doctor_status_changed", (data) => {
            if (data.clinic == "Kale Nursing Home") {
                if (data.updated_status == "IN") {
                    $("#status-badge").removeClass("badge-secondary").addClass("badge-success").text("IN")
                } else {
                    $("#status-badge").removeClass("badge-success").addClass("badge-secondary").text("OUT")
                }
            }
        })
    })
</script>
{% endblock %}

<!-- this is a sample default web page template -->
