	<a href="{{ doc.route }}">
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="{{ doc.clinic_image }}" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{ doc.get_title() }}</h5>
						<p class="card-text">Dr.Manish Kale, Pediatrician</p>
						<p class="card-text"><small class="text-muted">{{ doc.address }}</small></p>
					</div>
				</div>
			</div>
		</div>
	</a>